.-centerX
	left: 50%;
	transform: translateX(-50%)
.-centerY
	top: 50%;
	transform: translateY(-50%)
.-center
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
	
.-contain
	background-repeat: no-repeat
	background-position: center center
	background-size: contain
.-containX
	background-repeat: no-repeat
	background-position: center center
	background-size: 100%
.-containY
	background-repeat: no-repeat
	background-position: center center
	background-size: auto 100%
.-containFull
	background-repeat: no-repeat
	background-position: center center
	background-size: 100% 100%
	
.-cursor
	cursor: pointer
	
img[src='']
	opacity: 0
	
.-clearfix:after
	content: ''
	display: table
	clear: both

.-justifyBox:after
	display:inline-block
	overflow:hidden
	width:100%
	height:0
	content:''
	vertical-align:top
	
.-textOverflow
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.fade-enter, .fade-leave-active
	opacity: 0

.fullpage
	position: absolute
	width: 100vw
	height: 100vh
	left: 0
	top: 0
	overflow-y: scroll
	overflow-x: hidden
	background-color: #fff
	transition: all .4s
	z-index: 400
	&::-webkit-scrollbar
		width: 0px

.fade-slide-enter, .fade-slide-leave-active
	transform: translate3d(2rem, 0, 0)
	opacity: 0
	
.-resFull
	position: absolute
	left: 0
	top: 0
	right: 0
	bottom: 0
	
.-multiLineOverflow
	display: -webkit-box
	-webkit-box-orient: vertical
	-webkit-line-clamp: 3
	overflow: hidden
	
.-flexBox
	display: flex
	align-items: center

.iframeWrapper
	-webkit-overflow-scrolling: touch
	overflow-y: scroll
	
.-bottom-line
	border-1px-select(Border1pxColor, 'bottom')

.-top-line
	border-1px-select(Border1pxColor, 'top')