@import "mixin.styl"
resH($h1, $h2, $signal)
	if (!$signal)
		width: 100%
	height: floor(($h2/$h1) * 100) + '%'
	
resD($temp, $val)
	e = floor(($val/$temp) * 100)
	e

.test
	width: unit(resD(1000, 100), 'vw')
	@media only screen and (max-width: 1089px)
		display: none