#head_user_tip
	position: relative !important
#user_drop_box
	left: 0 !important
	display: none !important
	opacity: 0 !important
	transition: all .3s !important
i
	display: none !important
&:hover
	#user_drop_box
		display: block !important
		opacity: 1 !important
#head_history
	position: relative !important
	#head_history_drop_box
		right: 0 !important
		display: none !important
		opacity: 0 !important
		transition: all .3s !important
	i
		display: none !important
	&:hover
		#head_history_drop_box
			display: block !important
			opacity: 1 !important
#cart_tip
	position: relative !important
	#head_cart_drop_box
		right: 0 !important
		display: none !important
		opacity: 0 !important
		transition: all .3s !important
	i
		display: none !important
	&:hover
		#head_cart_drop_box
			display: block !important
			opacity: 1 !important
.login_tip
	a + a
		display: none !important
	