<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<style></style>
</head>
<body>
	
	
	<script>
		function parse(str) {
			if (typeof str !== 'string') {
				return {};
			}
			
			return decodeURI(str).split('&').map(param => {
				const tmp = param.split('=')
				const key = tmp[0]
				let value = tmp[1] || true
				if (typeof value === 'string' && isNaN(Number(value)) === false) {
					value = Number(value)
				}
				return {key, value}
			}).reduce((params, item) => {
				const {key, value} = item
				if (typeof params[key] === 'undefined') {
					params[key] = value
				} else {
					let newValue = Array.isArray(params[key]) ? params[key] : [params[key]]
					newValue.push(value)
					params[key] = newValue
				}
				return params
			}, {})
		}
		console.log(parse('id=13&city=佛山&id=0'))
	</script>
</body>
</html>